servertemplates:
  - name: hj-sptemplate1
    enclosuregroup: eg-3frame-set3
    serverhardwaretype: "SY 480 Gen9 3"
    connections:
      - id: 1
        name: nic1
        network: hj-test1

  - name: hj-sptemplate2
    enclosuregroup: eg-3frame-set3
    serverhardwaretype: "SY 480 Gen9 1"



networks: 
  - name: hj-test1
    vlanId: 671
  - name: hj-test2
    vlanId: 672


ligs:
  - name: hj-lig-vc40-3frame-set3
    framecount: 3
    interconnectset: 3
    interconnects: 
      - { frame: 1, bay: 3, interconnect: VC40F8 }
      - { frame: 1, bay: 6, interconnect: ILM20 }
      - { frame: 2, bay: 3, interconnect: ILM20 }
      - { frame: 2, bay: 6, interconnect: VC40F8 }
      - { frame: 3, bay: 3, interconnect: ILM20 }
      - { frame: 3, bay: 6, interconnect: ILM20 }

    uplinksets:
      - name: uplinkset1
        type: ethernet
        networks: [ hj-test1, hj-test2 ]
        uplinkports: [ "frame1|bay3|Q1:1", "frame2|bay6|Q1:1" ] 

  - name: hj-lig-vc40-2frame-set3
    framecount: 2
    interconnectset: 3
    interconnects: 
      - { frame: 1, bay: 3, interconnect: VC40F8 }
      - { frame: 1, bay: 6, interconnect: ILM20 }
      - { frame: 2, bay: 3, interconnect: ILM20 }
      - { frame: 2, bay: 6, interconnect: VC40F8 }

egs:
  - name: eg-3frame-set3
    framecount: 3
    frames:
      - { id: 1, ligs: [hj-lig-vc40-3frame-set3] }
      - { id: 2, ligs: [hj-lig-vc40-3frame-set3] }
      - { id: 3, ligs: [hj-lig-vc40-3frame-set3] }

    # - { frame: 1, ligs: [test-1] }
    # - { frame: 2, ligs: [test-1] }

les:
  - name: le-3frame
    enclosures: [enc-01, enc-02, enc-03]
    eg: eg-3frame-set3
  





